---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>Acerca de mí</h1>
    <figure class="about-image">
      <img src="/assets/logo.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        <strong>JavaScript</strong> logo con mis iniciales <strong>JR</strong>
      </figcaption>
    </figure>
    <p>Hola hola 👋</p>
    <p>Soy Jonathan Rangel, un developer orgullosamente mexicano que todos los días aprende algo nuevo, y prueba de ello es este mismo blog, es mi manera de preservar mis ideas, curiosidades y aprendizajes del mundo del desarrollo y tecnología y a la vez poder compartirlo con el resto de las personas que probablemente tengan los mismo problemas que yo y que quizá lo que encontré/aprendí les funcione.</p>
    <p>Actualmente soy desarrollador frontend y backend (o fullstack pa' la raza), vengo de programar en C, Java, C# y ahora JavasCript/Typescript enfocado usualmente en <a href="https://angular.dev" target="_blank">Angular</a> y <a href="https://nestjs.com" target="_blank">NestJs</a> sin dejar de lado el explorar/experimentar diferentes tecnologías web. Me considero una persona bastante amigable y con muy buen sentido del humor, aunque al principio podría llegar a ser algo reservado el tiempo me dará la confianza para invitarte tu próxima cerveza 🍻</p>
    <p>Me hizo mucha gracia que mis iniciales, además de que en el mundo del desarrollo signifiquen "Junior" también hagan buen match con el logo del lenguaje de la web JavaScript,</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
